@import "tailwindcss";

body {
  @apply bg-white dark:bg-black overflow-x-hidden;
  font-family: 'Inter', sans-serif;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for 100+ images */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}